[submodule "AppSalaryClient"]
	path = AppSalaryClient
	url = https://github.com/ivanovskirils/AppSalaryClient
[submodule "AppSalaryWebApi"]
	path = AppSalaryWebApi
	url = https://github.com/ivanovskirils/AppSalaryWebApi
